{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



<head>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-secondary text-white d-flex justify-content-center">
    <h1 class="p-3">UVa Class Schedules</h1>
    <div class="flex p-2">

    </div>
  </nav>

  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <img src="https://cdn0.iconfinder.com/data/icons/rounded-basics/24/rounded__menu-512.png" width="25">
  </button>



  <ul class="d-flex justify-content-center list-group" style="padding: 80px">
    {% regroup data by description as newList %}
    {% for x in newList %}

    <li class="list-group-item">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{x.list.0.subject}} {{x.list.0.catalog_number}}  {{x.grouper}}</th>
            <th scope="col">Instructor</th>
            <th scope="col">Capacity</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
        {% for y in x.list %}     
          <tr>
            <th scope="row">{{y.meetings.0.start_time}} - {{y.meetings.0.end_time}}</th>
            <td>{{y.instructor.name}}</td>
            <td>{{y.class_capacity}}</td>
            <td>{{y.meetings.0.facility_description}}</td>
          </tr>
      
        {% endfor %}
      </tbody>
      </table>
    </li>
    
    
  {% endfor %}
  </ul>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <p>We eventually need to dynamically create a logout or profile button depending on the login status</p>
        <a class="mt-10 btn btn-primary wx-15" href="{% url 'louslist:login'%}">Log Out</a>
      </div>
        
    </div>
  </div>


  <footer class="page-footer bg-primary font-small text-black fixed-bottom">
      <div class="footer-copyright text-center py-3">© 2022 TEAM A-20
      </div>
  </footer>
</body>


