{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}





<body>
  <nav class="navbar navbar-expand-lg bg-secondary text-white d-flex justify-content-center">

    
    <h1 class="p-3">UVa Class Schedules</h1>
    <div class="flex p-2">
    </div>

  </nav>

  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <img src="https://cdn0.iconfinder.com/data/icons/rounded-basics/24/rounded__menu-512.png" width="25">
  </button>

  <li class="">
    <a class="text-right font-italic" href="#">Signed in as {{user.first_name}}</a>
  </li>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <p>We eventually need to dynamically create a logout or profile button depending on the login status</p>
        <a class="mt-10 btn btn-primary wx-15" href="{% url 'louslist:login'%}">Log Out</a>
      </div>
        
    </div>
  </div>

  {% load socialaccount %}
<html>

<head>
    <title>Google Registration</title>
</head>

<body>
    <h1>My Google Login Project</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>

    {% else %}
    <h1>My Google Login Project</h1>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}

</body>

</html>


  <footer class="page-footer bg-primary font-small text-black fixed-bottom">
      <div class="footer-copyright text-center py-3">© 2022 TEAM A-20
      </div>
  </footer>
</body>


