{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load socialaccount %}

<head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
  
  <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">UVA Courses</a>
        <a class="navbar-brand">Departments</a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link " href="{% provider_login_url 'google' %}">Signed in as: {{user.first_name}}</a>
          {% else %}
          <a class ="nav-link" href="{% provider_login_url 'google' %}">Login</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link " href="/logout/">Logout</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>


  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <img src="https://cdn0.iconfinder.com/data/icons/rounded-basics/24/rounded__menu-512.png" width="25">
  </button>



  <!-- <li class="">
    {% if user.is_authenticated %}
    <a class="text-right font-italic" href="#">Signed in as {{user.first_name}}</a>
    {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}
  </li> -->


  <div id="accordion" class="mx-3 my-2">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            College of Arts and Sciences
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for y in caas %}     
              <div class="col-3 col-sm-3"><a href="/{{y}}" class="list-group-item list-group-item-action">{{y}}</a></div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            School of Engineering and Applied Sciences
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for t in seas %}  
              <div class="col-3 col-sm-3"><a href="/{{t}}" class="list-group-item list-group-item-action">{{t}}</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">
            School of Education and Human Development
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for t in edu %}  
              <div class="col-3 col-sm-3"><a href="/{{t}}" class="list-group-item list-group-item-action">{{t}}</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour">
            School of Architecture
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for t in arch %}  
              <div class="col-3 col-sm-3"><a href="/{{t}}" class="list-group-item list-group-item-action">{{t}}</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive">
            School of Nursing
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for t in nurs %}  
              <div class="col-3 col-sm-3"><a href="/{{t}}" class="list-group-item list-group-item-action">{{t}}</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix">
            McIntire School of Commerce
            </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for t in comm %}  
              <div class="col-3 col-sm-3"><a href="/{{t}}" class="list-group-item list-group-item-action">{{t}}</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" >
            Frank Batten School of Leadership and Public Policy
            </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for t in batt %}  
              <div class="col-3 col-sm-3"><a href="/{{t}}" class="list-group-item list-group-item-action">{{t}}</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" >
            Other Departments
            </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div class="row">
              {% for t in rest %}  
              <div class="col-3 col-sm-3"><a href="/{{t}}" class="list-group-item list-group-item-action">{{t}}</a></div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <p>We eventually need to dynamically create a logout or profile button depending on the login status</p>
        <a class="mt-10 btn btn-primary wx-15" href="{% url 'louslist:login'%}">Log Out</a>
      </div>
        
    </div>
  </div>

  {% load socialaccount %}
<html>

<head>
    <title>Google Registration</title>
</head>

<body>
    

</body>

</html>


</body>


