{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-expand-lg bg-secondary text-white d-flex justify-content-center">
    <h1 class="p-3">Deep Thought</h1>
    <div class="flex p-2">
        <a class="text-white" href="">Votes</a>
        <a class="text-white" href="">Choice</a>
        <a class="text-white" href="">Deepthoughts</a>
    </div>
</nav>

<h2 class="text-center">Submit a Deep Thought</h2>

<div class="d-flex justify-content-center">
    <form method="POST" class="text-center">
        {% csrf_token %}
        <label>Title</label>
        <input class="form-control" type="text" name="title" id="title">
        <label >Description</label>
        <textarea class="form-control" name="description" id="description"></textarea>
        <button href="{% url 'polls:deepthought' %}" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<footer class="page-footer bg-primary font-small text-white">
    <div class="footer-copyright text-center py-3">© 2022 Jay Chadha(jrc7qt)
    </div>
  </footer>