{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-expand-lg bg-secondary text-white d-flex justify-content-center">
    <h1 class="p-3">Deep Thought List</h1>
    <div class="flex p-2">
        <a class="text-white" href="">Votes</a>
        <a class="text-white" href="">Choice</a>
        <a class="text-white" href="">Deepthoughts</a>
    </div>
</nav>

<ul>
    {% for thought in objects %}
        <li>
            <div>
                <h3>{{ thought.title }}</h2>
                <p>{{thought.description}}</p>
            </div>
        </li>
    {% endfor %}
</ul>

<footer class="page-footer bg-primary font-small text-white">
    <div class="footer-copyright text-center py-3">© 2022 Jay Chadha(jrc7qt)
    </div>
  </footer>